.skills {
    max-width: 1184px;
    margin: 0 auto;
    &__title {
        font-size: 2.25rem;
        margin: 0;
        font-style: normal;
        font-weight: 600;
        padding: 1rem 0;
        border-bottom: 2px solid #e5e8ec;
    }
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8rem 0 0;
    justify-content: space-between;
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        padding: 0;
        margin-top: calc(1.5rem + 4px);
        column-gap: 1.5rem;
    }
    &__item {
        color: $gray;
        padding: 11px 0 11px 30px;
        position: relative;
        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: 10px;
            left: 0;
            width: 18px;
            height: 18px;
            background: url("../assets/img/green-check.svg");
            .skills-list--violet & {
                background: url("../assets/img/violet-check.svg");
            }            
            .skills-list--blue & {
                background: url("../assets/img/blue-check.svg");
            }
        }
    }
    &__title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        margin: 0;
        &::before {
            content: " ";
            width: 80px;
            height: 4px;
            display: block;
            background: $green;
            border-radius: 8px;
            margin-bottom: 1.5rem;
            .skills-list--violet & {
                background: $violet;
            }
            .skills-list--blue & {
                background: $blue;
            }

            }
        }
    }

